#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #F1F1F1;
  text-align: right;
  padding: 5px;
  
}
ul.nav{
  justify-content: center;
}
#img {
  text-align: center;
}
#h2 {
  text-align: center;
  padding: 15px;
  font-size: 3rem;
}
#form {
  text-align: center;
  width: 55%;
  margin: auto;
}
#new-form {
  margin: 25px;
}
#root{
  margin: 5px;
}
#navbar{
  
}