#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #F1F1F1;
  text-align: right;
  padding: 5px;
  
}
ul.nav{
  justify-content: center;
}
#img {
  text-align: center;
}
#h2 {
  text-align: center;
  padding: 15px;
  font-size: 3rem;
  text-shadow: 1px 1px 2px pink;
  
}
#form {
  text-align: center;
  width: 55%;
  margin: auto;
}
#new-form {
  margin: 25px;
}
#root{
  margin: 5px;
}
.navbar-link{
    padding: 15px;
    margin: 35px;
  }
#button{
  text-align: center;
}

#mixer{
  text-align: center;
  width: 55%;
  margin: auto;
}
#home-img{
  filter: drop-shadow(0 0 0.75rem rgb(5, 5, 6));
  border-radius: 30px;
}
#home-button{
  margin: 20px;
  filter: drop-shadow(0 0 0.75rem rgb(18, 173, 3));
}
#new-button{
  filter: drop-shadow(0 0 0.75rem rgb(18, 173, 3));
}
#button-index{
  filter: drop-shadow(0 0 0.75rem rgb(67, 82, 245));
}